.input-field::placeholder {
  color: gray !important;
}
.input-field {
  color: whitesmoke !important;
}
button:disabled {
  cursor: not-allowed !important;
}
.form {
  width: 50%;
  margin: auto;
  margin-bottom: 3rem;
}

@media screen and (max-width: 1215px) {
  .form {
    width: 60%;
  }
}
