.input-field::placeholder {
  color: gray !important;
}
.input-field {
  color: whitesmoke !important;
}
button:disabled {
  cursor: not-allowed !important;
}
.form {
  width: 50%;
  margin: auto;
  margin-bottom: 3rem;
}
.error {
  display: flex;
  justify-content: space-between;
  p {
    color: red;
  }
}
.summary-error {
  width: 70%;
}
.date-error {
  position: fixed;
  right: 12rem;
  width: 30%;
}

@media screen and (max-width: 1215px) {
  .form {
    width: 60%;
  }
}
