.card {
  width: 80%;
  margin: auto;
  margin-bottom: 1rem;
}
.card-body {
  max-width: 23.75%;
}
.id-column {
  max-width: 5%;
}
.checkbox {
  margin: 1rem;
}
.icon {
  color: whitesmoke;
  width: 1.5rem;
  margin: 1rem;
  height: 25px;
}
.success {
  background-color: rgba(96, 201, 96, 0.5) !important;
}
.danger {
  background-color: rgba(255, 0, 0, 0.5) !important;
}
.form-control {
  color: whitesmoke !important;
}
@media screen and (max-width: 1220px) {
  .card-body {
    max-width: 23%;
  }
  .id-column {
    max-width: 8%;
  }
  .checkbox {
    margin: 0.8rem;
  }
  .icon {
    width: 1rem;
    margin: 1rem;
  }
}
