.table-div {
  width: 80%;
  margin: auto;
}
thead {
  th {
    color: whitesmoke;
  }
}
.header-text {
  color: whitesmoke;
}
.form {
  width: 35%;
  margin: auto;
  margin-bottom: 3rem;
}
.card {
  width: 80%;
  margin: auto;
  margin-bottom: 1rem;
}
.card-body {
  max-width: 23.75%;
}
.id-column {
  max-width: 5%;
}
.submit-form {
  width: fit-content;
}
