.table-div {
  width: 80%;
  margin: auto;
}
thead {
  th {
    color: whitesmoke;
  }
}
.header-text {
  color: whitesmoke;
}

.card {
  width: 80%;
  margin: auto;
  margin-bottom: 1rem;
}
.card-body {
  max-width: 23.75%;
}
.id-column {
  max-width: 5%;
}
.submit-form {
  width: fit-content;
}
@media screen and (max-width: 1220px) {
  .card-body {
    max-width: 23%;
  }
  .id-column {
    max-width: 8%;
  }
}
